[Unit]
Description=Flask Service
After=network.target

[Service]
User={{ web_server_user }}
Group={{ web_server_group  }}
EnvironmentFile=/opt/{{ app_name }}
ExecStart=/usr/local/bin/gunicorn -w 3 --bind unix:/opt/flask/app.sock app:app
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
